* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
	font: 62.5% Verdana, Geneva, sans-serif;
}

.mainWrapper {
	width: 100%;
}

#MainTable {
	margin: 1.6em auto 2em;
	width: 800px;
	background: url(../images/table_bg.png);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
}

#header1 {
	width: 800px;
	height: 96px;
	text-align: center;
}

#header2 {
	width: 800px;
	text-align: center;
	margin-bottom: 25px;
}

form input {
	font-size: 1.2em;
	height: 1.6em;
	vertical-align: middle;
	border: thin ridge #CCC;
}

.knop {
	font-weight: normal;
	text-transform: uppercase;
	color: #444;
	height: 22px;
	width: 80px;
	background: #CCC;
	text-align: center;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 1.1em;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #777;
}

.knop:hover {
	font-weight: normal;
	text-transform: uppercase;
	color: #FFF;
	height: 22px;
	width: 80px;
	background: #999;
}

#itemWrapper {
	width: 750px;
	margin: 0px auto;
}

.column {
	float: left;
	width: 250px;
}

.columnLeft {
	float: left;
	width: 250px;
}

.columnMiddle {
	float: left;
	width: 250px;
}

.columnRight {
	float: left;
	width: 250px;
}

.itemHeader {
	margin: 0px auto;
	width: 197px;
	font-size: 1.6em;
	color: #FFF;
	background: url(../images/onderWerpachter.png);
	padding-left: 25px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	height: 23px;
	padding-top: 3px;
}

.itemContent {
	margin: 0px auto 25px;
	width: 197px;
	background: url(../images/favo_colom_achter.png);
	padding-left: 25px;
	padding-bottom: 15px;
	padding-top: 10px;
	border-bottom: 1px solid #7F807F;
}

.itemContent a:link,
.itemContent a:visited {
	font-size: 1.2em;
	text-decoration: none;
	color: #333;
}

.itemContent a:hover {
	color: #000;
	text-decoration: underline;
	font-size: 1.2em;
}

.radiostream {
	width: 176px;
	overflow: auto;
}

.radiostreamwebpage {
	width: 124px;
	float: left;
	margin-bottom: .5em;
}

.radiostreambuttons {
	width: 50px;
	float: right;
	text-align: right;
}

.radiostreambuttons a img {
	padding-right: 5px;
}


#footer1 {
	width: 800px;
	clear: both;
	text-align: center;
}

#footer1 img {
	padding-bottom: 12px;
}

#footer2 {
	width: 800px;
	clear: both;
	background: url(../images/site/bg_black_70.png);
	text-align: center;
	height: 22px;
	padding-top: 0.7em;
	font-size: 1.2em;
	-moz-border-radius: 0px 0px 14px 14px;
	-webkit-border-radius: 0px 0px 14px 14px;
	border-radius: 0px 0px 14px 14px;
}

#footer2 p {
	color: #FFF;
}