* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

h2 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

#my-btn {
  display: none;
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 99;
  border: none;
  outline: none;
  background: transparent;
  opacity: 0.5;
  cursor: pointer;
  padding: 1px;
  transition: 0.3s;
}

#my-btn:hover {
  opacity: 0.7;
}

.linkbox {
  background-color: rgba(255, 255, 255, 0.568);
  box-shadow: 5px 5px 5px #1a1a1ab4;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-size: 20px;
  width: 87%;
  border-radius: 10px 30px 15px;
  border: 1px solid #242424b9;
  transition: all 500ms ease-in;
}

.linkbox:hover {
  background-color: rgba(255, 255, 255, 0.853);
  border-radius: 30px 15px 10px;
  transition: all 200ms ease-out;
}

a:link,
a:visited {
  color: #333;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.linkbox h2 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 1.3em;
}

li {
  list-style-type: none;
}

#my-btn:hover {
  opacity: 0.7;
}

.grid-center {
  text-align: center;
  padding-top: 20px;
  border: 1 #333;
  margin: 0px;
}

.search-engine-input {
  box-shadow: 3px 3px 3px #666;
  opacity: 0.8;
  width: 50%;
  max-width: 1200px;
  height: 40px;
  padding-left: 20px;
  resize: vertical;
  margin: 0px;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.search-engine-button {
  box-shadow: 3px 3px 3px #666;
  opacity: 0.8;
  background-color: lightgreen;
  width: 90px;
  height: 42px;
  padding: 0px;
  margin: 0px;
  margin-left: -3px;
  border-radius: 0px 10px 10px 0px;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.search-engine-button:hover {
  background-color: #5dd25e;
  opacity: 0.8;
}

header titlebar h1 {
  background-color: #fff;
  text-align: center;
  height: 70px;
  box-shadow: 0px 5px 5px #444;
  opacity: 0.7;
  margin-top: 0px;
  margin-bottom: 16px;
  width: 100%;
  padding-top: 20px;
  font-size: 2.5em;
}

header navigation ul {
  display: none;
}

header navigation h1 {
  display: none;
}

.radiostream {
  width: 90%;
  overflow: auto;
}

.radiostreamwebpage {
  width: 175px;
  float: left;
  margin-bottom: 0.5em;
}

.radiostreambuttons {
  width: 25px;
  float: right;
  text-align: right;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title code {
  display: block;
  width: auto;
  font-size: 0.8em;
  margin-left: 2em;
}

.ex-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.ex7 .parent {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.ex-container2 {
  resize: both;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: grid;
  align-items: center;
  margin: auto;
}

.section-container2 {
  margin: 0 auto;
  padding: 2rem 4rem;
}

.codepen-link {
  text-align: right;
}

.parent {
  width: 100%;
  height: 100%;
}

.box {
  font-size: 2rem;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  border-style: dashed;
}

.ex-container2 .section {
  font-size: 1.5rem;
  padding: 1rem;
  border-style: dashed;
}

@media screen and (max-width: 811px) {
  .ex-section2 {
    height: 400px;
  }

  .section-container {
    padding: 8rem 4rem;
  }

  .meta {
    max-width: 46ch;
    padding: 8rem auto;
  }

  .search-engine-input {
    width: 65%;
  }

  .search-engine-button {
    width: 7%;
    min-width: 50px;
  }
}

@media screen and (max-width: 480px) {

  .ex-section2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url(../images/site/burger-nav-dark.png) no-repeat 2% center;
    cursor: pointer;
  }

  header navigation h1 {
    background-color: #ffffff;
    text-decoration: none;
    opacity: 0.7;
    height: 25px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: 2em;
    padding-top: 10px;
  }

  header titlebar {
    display: none;
  }

  header navigation ul {
    display: block;
    overflow: hidden;
    background: #cacaca10;
    height: 0;
  }

  header navigation a h1 {
    display: block;
    text-align: center;
    font-size: 18px;
    padding-top: 6px;
    padding-left: 24px;
  }

  header navigation ul.open {
    height: auto;
  }

  header navigation ul.close {
    height: 0px;
  }

  header navigation ul li {
    background-color: rgba(255, 255, 255, 70%);
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  header navigation ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }

  .section-container2 {
    max-width: var(--pageMax);
    margin: 0 auto;
    padding: 0.7rem;
  }

  .ex-container2 .section {
    font-size: 1rem;
  }

  .section-title code {
    margin-left: 0;
    margin-top: 1rem;
  }

  .support-area {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .code-area {
    height: 300px;
  }

  .code-container {
    font-size: 1.15rem;
  }

  .parent {
    width: 106%;
    height: 100%;
  }

  header titlebar h1 {
    font-size: 1.7em;
  }

}