@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
}

#container {
	width: 800px;
	background-image: url(../images/schaduwmain.jpg);
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	height: 96px;
	text-align: center;
	background-image: url(../images/schaduwmain_banner.png);
	margin-top: 20px;
}

.tableheader {
	text-align: left;
	padding-left: 20px;
	font-size: 14px;
	height: 23px;
	background-image: url(../images/onderWerpachter.png);
	background-repeat: repeat-x;
	border-left-width: thin;
	margin: 0px;
}

.tablecontent {
	padding-left: 20px;
	text-align: left;
	background-image: url(../images/favo_colom_achter.png);
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #2E2E2E;
	margin: 0px;
}

.footer {
	clear: both;
	height: 96px;
	text-align: center;
	background-image: url(../images/schaduwmain_footer.png);
}

#tabel1 {
	width: 223px;
	float: left;
	margin-left: 32px;
}