/* De achtergrondstijl blijft op de body */
body {
    background-image: url("../images/pizza3.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Nieuwe container voor de content */
.main-container {
    max-width: 40%;
    margin: 20px auto;
    padding: 8px 25px 30px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
}

/* Bestaande stijlen die je al had */
input,
button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h2 {
    margin-top: 25px;
}

.resultaat p {
    margin: 5px 0;
}

@media screen and (max-width: 811px) {
    .main-container {
        max-width: 90%;
        padding: 15px;
    }
}
@media screen and (max-width: 500px) {
    .main-container {
        max-width: 95%;
        padding: 8px;
    }
